* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.nav__logo {
  font-family: "Audiowide";
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  color: white;
}
.nav__menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-left: 450px;
  border-right: 1px solid white;
  padding: 10px 48px 10px 0;
}
.nav__menu a {
  margin-right: 24px;
}
.nav__menu a:last-child {
  margin: 0;
}
.nav__button {
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.try__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.try__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.try__header {
  max-width: 252px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: white;
  margin-bottom: 8px;
}
.try__text {
  color: white;
  margin-bottom: 80px;
}
.try__button {
  background: #FFFFFF;
  color: #3574C4;
  margin-right: 24px;
}
.try__button:last-child {
  background-color: #3574C4;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0;
}
.try__img {
  max-width: 538px;
}
.try__img img {
  width: 100%;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  margin-bottom: 200px;
}
.team__title {
  color: #000;
  margin-bottom: 64px;
  text-align: center;
}
.team__text {
  max-width: 948px;
  text-align: center;
  margin-bottom: 32px;
}
.team__text p {
  margin-bottom: 32px;
}
.team__img {
  max-width: 1300px;
}
.team__img img {
  width: 100%;
}

.perfect {
  max-width: 1300px;
  padding-right: 10px;
}

.perfect__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 143px;
}
.perfect__img {
  max-width: 663px;
  max-width: 737px;
}
.perfect__img img {
  width: 100%;
  height: 100%;
}
.perfect__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 114px;
  max-width: 503px;
}
.perfect__title {
  margin-bottom: 50px;
}
.perfect__text {
  margin-bottom: 70px;
}
.perfect__button {
  background: #3574C4;
  color: white;
  margin-right: 32px;
}
.perfect__button:last-child {
  background: white;
  color: #3574C4;
  border: 1px solid #3574C4;
  margin: 0;
}

.footer {
  background: #3574C4;
  padding-top: 64px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 964px;
  padding: 0 10px 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}
.footer__column a {
  line-height: 64px;
}
.footer__sign {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  padding-bottom: 14px;
}

.container {
  max-width: 1300px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .perfect {
    max-width: 970px;
  }

  .footer__row {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .perfect {
    max-width: 750px;
  }

  .footer__row {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .perfect {
    max-width: none;
  }

  .footer__row {
    max-width: none;
  }

  .try__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .perfect__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__row__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}