@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@500;700&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3574C4;
  z-index: 2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  position: relative;
  z-index: 3;
}
.header__burger {
  display: none;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin-left: 24px;
}
.header__list li:last-child {
  padding-right: 20px;
  border-right: 1px solid white;
}
.header__button {
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 32px;
    line-height: 44px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__button {
    font-size: 24px;
    width: 210px;
    height: 55px;
    margin: 0;
    color: #3574C4;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    font-size: 24px;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .header__list li:last-child {
    padding-right: 0;
    border-right: 0;
  }
  .header__list li a {
    color: #3574C4;
    padding-bottom: 15px;
  }
  .header__list li a:active {
    border-bottom: 1px solid #3574C4;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before {
    content: " ";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: " ";
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    top: 9px;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.try {
  margin-top: 160px;
}
.try__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.try__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.try__header {
  max-width: 252px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: white;
  margin-bottom: 8px;
}
.try__text {
  color: white;
  margin-bottom: 80px;
}
.try__button {
  background: #FFFFFF;
  color: #3574C4;
  margin-right: 24px;
}
.try__button:last-child {
  background-color: #3574C4;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0;
}
.try__img {
  max-width: 538px;
}
.try__img img {
  width: 100%;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  margin-bottom: 200px;
}
.team__title {
  color: #000;
  margin-bottom: 64px;
  text-align: center;
}
.team__text {
  max-width: 948px;
  text-align: center;
  margin-bottom: 32px;
}
.team__text p {
  margin-bottom: 32px;
}
.team__img {
  max-width: 1300px;
}
.team__img img {
  width: 100%;
}

.perfect {
  max-width: 1300px;
  padding-right: 10px;
}

.perfect__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 143px;
}
.perfect__img {
  max-width: 663px;
  max-width: 737px;
}
.perfect__img img {
  width: 100%;
  height: 100%;
}
.perfect__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 114px;
  max-width: 503px;
}
.perfect__title {
  margin-bottom: 50px;
}
.perfect__text {
  margin-bottom: 70px;
}
.perfect__button {
  background: #3574C4;
  color: white;
  margin-right: 32px;
}
.perfect__button:last-child {
  background: white;
  color: #3574C4;
  border: 1px solid #3574C4;
  margin: 0;
}

.footer {
  background: #3574C4;
  padding-top: 64px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 964px;
  padding: 0 10px 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}
.footer__column a {
  line-height: 64px;
}
.footer__sign {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  padding-bottom: 14px;
}

.container {
  max-width: 1300px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

a:visited {
  color: white;
}

.wrapper {
  overflow: hidden;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1300px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

.block {
  background: #3574C4;
  padding-top: 40px;
  padding-bottom: 145px;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.06em;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.icon {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3574C4;
  z-index: 2;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 82px;
  position: relative;
  z-index: 3;
}
.header__burger {
  display: none;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin-left: 24px;
}
.header__list li:last-child {
  padding-right: 20px;
  border-right: 1px solid white;
}
.header__button {
  background: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #fff;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }
  .header__logo {
    font-size: 32px;
    line-height: 44px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__button {
    font-size: 24px;
    width: 210px;
    height: 55px;
    margin: 0;
    color: #3574C4;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    font-size: 24px;
    text-align: center;
    margin: 0 0 30px 0;
  }
  .header__list li:last-child {
    padding-right: 0;
    border-right: 0;
  }
  .header__list li a {
    color: #3574C4;
    padding-bottom: 15px;
  }
  .header__list li a:active {
    border-bottom: 1px solid #3574C4;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before {
    content: " ";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    content: " ";
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    top: 9px;
    left: 0;
    height: 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
.try {
  margin-top: 160px;
}
.try__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.try__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.try__header {
  max-width: 252px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: white;
  margin-bottom: 8px;
}
.try__text {
  color: white;
  margin-bottom: 80px;
}
.try__button {
  background: #FFFFFF;
  color: #3574C4;
  margin-right: 24px;
}
.try__button:last-child {
  background-color: #3574C4;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin: 0;
}
.try__img {
  max-width: 538px;
}
.try__img img {
  width: 100%;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
  margin-bottom: 200px;
}
.team__title {
  color: #000;
  margin-bottom: 64px;
  text-align: center;
}
.team__text {
  max-width: 948px;
  text-align: center;
  margin-bottom: 32px;
}
.team__text p {
  margin-bottom: 32px;
}
.team__img {
  max-width: 1300px;
}
.team__img img {
  width: 100%;
}

.perfect {
  max-width: 1300px;
  padding-right: 10px;
}

.perfect__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 143px;
}
.perfect__img {
  max-width: 663px;
  max-width: 737px;
}
.perfect__img img {
  width: 100%;
  height: 100%;
}
.perfect__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 114px;
  max-width: 503px;
}
.perfect__title {
  margin-bottom: 50px;
}
.perfect__text {
  margin-bottom: 70px;
}
.perfect__button {
  background: #3574C4;
  color: white;
  margin-right: 32px;
}
.perfect__button:last-child {
  background: white;
  color: #3574C4;
  border: 1px solid #3574C4;
  margin: 0;
}

.footer {
  background: #3574C4;
  padding-top: 64px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 964px;
  padding: 0 10px 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}
.footer__column a {
  line-height: 64px;
}
.footer__sign {
  text-align: center;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 32px;
  padding-bottom: 14px;
}

.container {
  max-width: 1300px;
  padding: 0 10px 0 10px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .perfect {
    max-width: 970px;
  }

  .footer__row {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .perfect {
    max-width: 750px;
  }

  .footer__row {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .perfect {
    max-width: none;
  }

  .footer__row {
    max-width: none;
  }

  .try__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .try__content {
    margin-bottom: 30px;
  }

  .team__row {
    margin-bottom: 30px;
  }

  .perfect__content {
    margin-bottom: 30px;
  }

  .perfect__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .text {
    font-size: 24px;
    line-height: 32px;
  }

  .title {
    font-size: 48px;
    line-height: 60px;
  }

  .try__header {
    font-size: 48px;
    line-height: 60px;
  }
}